body {
  height: 100%;
  margin: auto;
  max-width: 60em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: sans-serif;
  background-image: linear-gradient(#f4e1d2, #b2b2b2);
}

a {
  font-size: 20px;
}

header {
  color: #3e4a4e;
  background-color: #b2b2b2;
  text-align: center;
  padding: 1px;
}

h2 {
  background-color: #d87;
  padding: 1em;
}

#gameList {
  display: flex;
  background-image: linear-gradient(#b2b2b2, #618685);
  flex-wrap: wrap;
}

#gameList > div {
  background-color: #aca;
  min-width: 33%;
  margin: 30px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex-grow: 1;
  border-style: solid;
  border-color: #575;
  border-radius: 25px;
}

img {
  height: 100px;
}

