body {
  background-color: #ddd;
  text-align: center;
  color: #335;
  user-select: none;
  font-size: 1.3em;
}

.cell {
  display: inline-block;
  min-width: 1.2em;
  min-height: 1.2em;
  margin: 0.3em;
  padding: 0.3em;
  background-color: #eef;
  border-color: #aac;
  border-style: solid;
  border-radius: 15px;
  transition: opacity 0.1s linear;
  font-size: 1.8em;
}

.cell.green {
  background-color: green;
  border-color: black;
  transition: background-color 0.2s, border-color 0.2s linear;
}

.cell.yellow {
  background-color: yellow;
  border-color: black;
  transition: background-color 0.2s, border-color 0.2s linear;
}

.cell.dark {
  background-color: grey;
  border-color: black;
  transition: background-color 0.2s, border-color 0.2s linear;
}

#story {
  padding: 3em;
  font-size: 1.7em;
}

.hidden {
  display: none;
}

.cell.win:hover {}

div.award {
  margin-top: 1em;
  font-size: 5em;
}

